* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

html {
    height: 100%;
}


/* Body */

body {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header Nav  */

header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 81, 181);
}

header>.pp {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 81, 181);
}

header>.pp>.navMobile {
    display: none;
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    left: 0;
    padding: 20px;
}

header>span {
    margin-bottom: 10px;
    font-size: x-large;
}

header>.pp>img {
    border-radius: 75px;
    margin: 15px;
    width: 150px;
    height: 150px;
}

header>.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(50, 65, 145);
    overflow: hidden;
}

header>.nav>a {
    text-transform: uppercase;
    flex: 1;
    float: left;
    display: block;
    color: rgba(232, 230, 227, 0.6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header>.nav>a:hover {
    color: white;
}

header>.nav>a.active {
    border-bottom: 4px solid white;
    color: white;
}

header>.nav>.icon {
    display: none;
}

header>.navMobileSlide {
    display: none;
}

.sidebar {
    display: none;
}

@media screen and (max-width: 600px) {
    header>.pp>.navMobile {
        display: block;
    }
    header>.nav {
        display: none;
    }
    .sidebar {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(27, 29, 30);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidebar a:hover {
        color: #f1f1f1;
    }
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
        border: none;
    }
    .openbtn:hover {
        background-color: rgba(232, 230, 227, 0.6);
    }
    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 2s;
}


/* End header nav */


/* Content */

body main {
    padding-bottom: 100px;
}

body main>section>article {
    background-color: white;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
}

body main>section>article>div>h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #173b6c;
}

body main>section>article>div>h2:after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}


/* Home section */

body main>.home>article>div>.basic {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

body main>.home>article>div>.skills {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

body main>.home>article>div>.skills {
    display: flex;
    width: 100%;
}

body main>.home>article>div>.skills>img {
    width: 10%;
    text-align: center;
    line-height: 0;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    body main>.home>article>div>.basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body main>.home>article>div>.skills {
        text-align: center;
        display: block;
    }
    body main>.home>article>div>div>div {
        width: 300px;
    }
    body main>.home>article>div>.skills>img {
        width: 15%;
        text-align: center;
        line-height: 0;
        vertical-align: middle;
    }
}

body main>.home>article>div>div>div>ul {
    list-style: none;
    padding: 0;
}

body main>.home>article>div>div>div>ul {
    list-style: none;
    padding: 0;
}

body main>.home>article>div>div>div>ul>li {
    padding-left: 1.3em;
}

body main>.home>article>div>div>div>ul>li>strong {
    font-weight: bold;
}


/* End home section */


/* portfolio section */

body main>.portfolio>article>div>.basic {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    body main>.portfolio>article>div>.basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* End home section */

body main>section>article .center {
    text-align: center;
}

body main>section>article>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
}

body main>section>article footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

body main>section>article footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #00BCD4;
}

body main>section>article footer a:hover {
    color: gray;
}


/* Footer */

body>footer {
    position: absolute;
    width: 100%;
    background-color: #d2d6d6;
    color: white;
    text-align: center;
    bottom: 0;
    margin-top: 100px;
    padding: 10px 0 10px 0;
}