body {
 
  padding: 0;
  margin: 0;

  width: 100%;
 
    .main {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
  
      .car {
        max-width: 100%;


        img {
          max-width: 100%;
          object-fit: cover;
        }

        .inputcolor {
          position: absolute;
          padding: 0;
          border: none;
          width: 100%;
          height: 100%;
          mix-blend-mode: hue;
          cursor: pointer;
        }


      }
 
  

    }
 
 

}