body {
 
  padding: 0;
  margin: 0;

  width: 100%;
 
    .main {
      height: 100%;
      
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);


      max-width: 100%;

      .one {
        grid-column: 1 / 3;
        grid-row: 1;
      }
      .two {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
      }
      .three {
        grid-column: 1;
        grid-row: 2 / 5;
      }
      .four {
        grid-column: 3;
        grid-row: 3;
      }
      

      input {
        max-height: 0;
        max-width: 0;
        opacity: 0;
      }
 
      
      input + label { 
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center; 
        box-shadow: inset 0 0 0px 1px #d5d5d5; 
        height: 30px;  
        width: 150px;
        border-radius: 5px;
      } 

      input:checked + label { 
        background: darkcyan;
      }


      #image1:checked ~ .image1  {
        display: flex;
      }
      
      #image2:checked ~ .image2  {
        display: flex;
      }
    
      .image1{
        display: none;
      }
    
      .image2{
        display: none;
      }

      div{ 

        img{
          width: 150px;
          height: 150px;
        } 
      }
    }
 
 

}









   
  

